body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #95D5B2;
  color: white;
  text-align: center;
  text-decoration: none;

}
#linkedIn-c {
  text-decoration: none;
  color: white;
  list-style-type: none;
  text-align: left;
}
.navbar{
  background-color: #D8F3DC;
}

#contact-me{
  display: flex;
  max-width: fit-content; 
  border-right: rgb(33, 33, 97) solid 3px;
  position: relative;
  left: -40px;
  font-size: 50px;
  padding-right: 15px;
  padding-left: 38px;
  width: 181px;
  text-align: right;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.foot{
  list-style-type: none;
}
.contact-links{
  text-align: left;
  list-style-type: none;
  
}